# Ignore compiled Python files
*.pyc
*.pyo
__pycache__

# Ignore compiled Ansible files
*.retry

# Ignore virtual environment
venv/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log
